@page "/"
@using PostgreSQLBlazorApp.Models
@using PostgreSQLBlazorApp.Data
@inject Context Context

<button @onclick="Create">Create family</button>
Nb Family : <input value="@Count"/>


@code
{
    private int Count { get; set; } 
    protected override void OnInitialized()
    {
    // TODO => use Context to access database or create controller
        Count = Context.Famille.Count(); 
    }

    private void Create()
    {
        var fam = new Famille
        {
            NomDeFamille = "deligans"
        };
        Context.Famille.Add(fam);
        Context.SaveChanges(); 
        
        Count = Context.Famille.Count(); 

        InvokeAsync(StateHasChanged); 
    }
}